@theme {
    --color-primary-green: #00a573;
}
/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* @font-face {
    font-family: fa-solid-900;
    src: url('./assets/fonts/fa-solid-900.woff2') format('woff2');
} */
